doctype html
html(lang="en")
  head
    title= ciaooo
    script(type='text/javascript').
      if (foo) bar(1 + 5)
  body
    h1 Pug Python Example
    #container.col
      include ./includes/python
    footer.
      MIT Licensed by #{author} - #{year}

